<ul class="nav navbar-nav">
    <li class="active">
        <a href="/add_new_product">Nowy produkt</a>
    </li>
    <li>
        <a href="/logout">Wyloguj się</a>
    </li>
    <li>
        <a href="/panel">Moje konto</a>
    </li>
    <li>
        <a href="/zamowienia">Historia zamówień</a>
    </li>
    <li>
        <a href="/zamowienia_do_wysylki">Zamówienia do wysyłki</a>
    </li>
</ul>